@tailwind base;
@tailwind components;
@tailwind utilities;

.heading {
  @apply lg:text-5xl md:text-3xl text-2xl font-bold lg:leading-[72px];
}
.subHeading {
  @apply uppercase font-medium text-lg;
}

.dropdown-filter {
  width: 170px !important;
}

.react-dropdown-select-content {
  font-size: 16px !important;
}
.react-dropdown-select-content span {
  font-size: 16px !important;
}

.react-dropdown-select-custom-style span {
  background-color: #191919;
  color: white;
}
.react-dropdown-select-custom-style span:hover {
  background-color: #202020;
  color: white;
}
.react-dropdown-select-item-selected {
  background-color: #202020 !important;
  color: white !important;
}

a:hover {
  color: #ff6500;
}

.custom-btn {
  @apply bg-primary text-white font-semibold hover:bg-primary-100;
}
.custom-btn-secondary {
  @apply bg-secondary text-white font-semibold hover:bg-secondary-100;
}

@layer base {
  :root {
    --color-bg: 227 227 227;
    --color-primary: 255 255 255;
    --color-secondary: 255 255 255;
    --color-ascent1: 0 0 0;
    --color-ascent2: 89 91 100;
    --color-blue: 6 90 216;
    --color-white: 255 255 255;
  }

  [data-theme="dark"] {
    --color-bg: 12 12 12;
    --color-primary: 31 31 31;
    --color-secondary: 47 45 48;
    --color-ascent1: 255 255 255;
    --color-ascent2: 164 161 162;
    --color-blue: 6 90 216;
    --color-white: 255 255 255;
  }
}